<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
        <target name="corelog" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
            <target xsi:type="File"
                    fileName="${specialfolder:folder=CommonApplicationData:cached=true}/JoeScan/LogScanner/logs/JoeScan.LogScanner.Core-${shortdate}.txt"
                    archiveFileName="${specialfolder:folder=CommonApplicationData:cached=true}/JoeScan/ThicknessMonitor/logs/archives/JoeScan.LogScanner.Core-${shortdate}.{#}.txt"
                    archiveNumbering="Rolling"
                    maxArchiveFiles="7"
                    concurrentWrites="false"
                    keepFileOpen="true"
                    >
            </target>
        </target>
        <target name="js50adapterlog" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
            <target xsi:type="File"
                    fileName="${specialfolder:folder=CommonApplicationData:cached=true}/JoeScan/LogScanner/logs/JoeScan.LogScanner.JS50-${shortdate}.txt"
                    archiveFileName="${specialfolder:folder=CommonApplicationData:cached=true}/JoeScan/ThicknessMonitor/logs/archives/JoeScan.LogScanner.JS50-${shortdate}.{#}.txt"
                    archiveNumbering="Rolling"
                    maxArchiveFiles="7"
                    concurrentWrites="false"
                    keepFileOpen="true"
                   >
            </target>
        </target>
    </targets>
    <rules>
        <logger name="JoeScan.LogScanner.Core.*" minlevel="Debug" writeTo="corelog" />
        <logger name="JoeScan.LogScanner.Js50.*" minlevel="Debug" writeTo="js50adapterlog" />
        
    </rules>
</nlog>